<html>

<head>
    <title>Angular workshop</title>
</head>

<body ng-app="app">
    Hello!

    <div ng-controller="basicController as basic">
        Name: {{basic.name}} <br /> Surname: {{basic.surname}}
    </div>

    <div ng-controller="controllerWithService as ctrWithServ">
        Number from service: {{ctrWithServ.someNumber}}

        <div>
            <my-component data="ctrWithServ.someNumber"></my-component>
        </div>

    </div>

    <div ng-controller="reactiveController as reactive">
        Name: {{reactive.name}} <br /> Surname: {{reactive.surname}}

        <button ng-click="reactive.go()">Just do it!</button>
    </div>

    <script src="./src/appAll.js"></script>
</body>

</html>